/* AUth background*/

body {
    font-family: "Poppins";
  }
.auth {
    background-color: rgb(247, 250, 252, ) !important;

}

.ivn {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0.75rem;
   

}
.toper svg {

    width: 180px;
    height: 180px
  }
.text-error {
    color: red;
    font-weight: bold;
    text-align: left;
    float: left;
    margin-right: 10.8rem;
}
.toper
.brand-name {
    text-decoration: none;
    color: #252859;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 500;
}

.forgot {
    margin-right: 16.8rem;
    color: #757575;
    font-size: 14px;
    display: inline-block;

}

.dey {
    color: #757575;
    align-items: center;
    text-align: center;
    font-weight: bold;

}

.dont {
    float: right;
    margin-right: 9rem;
    color: #757575;
    font-size: 14px;

}

.myOptions {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 24rem;
    border-bottom: 1px solid rgb(201, 206, 214);
}

.select {
    font-size: 20px;
    color: rgb(201, 206, 214);
    text-align: center;
}


@media screen and (max-width: 768px) {

    .myOptions {
        width: 100%;

    }

    .forgot {

        margin-right: 50%;
        color: #757575;
        display: inline-block;

    }

    .dont {
        float: right;
        margin-right: 10%;


    }

    .text-error {
        margin-right: 23%;
    }

}